<head>
    <link rel="stylesheet" href="./app.component.css">
</head>

<div class="header">
    <p class="headertitel">Todos</p>
    <div class="inputcard">
        <p class="newtodo">New Todo</p>
        <div class="input">
            <input [(ngModel)]="newToDo" type="text" value="" class="inputbox" placeholder="type todo text here"><button mat-button (click)="addToList()" class="addbtn"><span class="pluse">&plus;</span> Add</button>
        </div>
    </div>
</div>
<div>
    <div class="listdiv">
        <div *ngFor="let x of items;let index = index;" class="unorderlist" id="idunorderlist">
            <input class="checkbox" type="checkbox" (change)="changeStatus(index)">
            <p class="valueip" [ngClass]="{strike: x.checked}">{{x.key}}</p><button mat-flat-button color="warn" (click)="deleteTask(index)">Delete</button>
        </div>
    </div>
</div>